body {
    background-color: #505050;
    font-family: Times
}
#main {
    width: 1420px;
    margin: auto;
}
#middle {
    width: 1420px;
    text-align: center;
}
#middle .divs {
    display: inline-block;
    margin-top: 20px;
    vertical-align: text-top;
}
.divs {
    background-color: #909090;
    border-radius: 9px;
    box-shadow: 10px 10px 10px #000000;
}
.main-img {
    width: 1020px;
    height: 582.5px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.header {
    width: 1420px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-right {
    float: right;
    height: 150px;
}
.header-right a {
    display: block;
    margin-top: 10px;
    margin-right: -20px;
    width: 20px;
    height: 20px;
    float: right;
}
#reload, #close {
    width: 20px;
    height: auto;
}
#close_link {
    float: right;
    margin-right: 20px;
    margin-top: 120px;
}
#loupe {
    float: right;
    margin-top: 25px;
}
.header .img-day {
    height: calc(100% - 20px);
    margin: 10px;
}
.main-img img {
    margin: 10px;
    width: calc(100% - 20px);
}
.left, .right {
    width: 150px;
    height: 425px;
    padding-top: 20px;
}
.left img, .right img {
    display: block;
    margin: auto;
    width: 70px;
    height: auto;
    margin-bottom: 10px;
}
.active {
    border: 4px solid red;
    border-radius: 5px;
}
#wall {
    background-image: url("resources/brick.jpg");
    width: 120px;
    height: 70px;
    margin: auto;
}
#answer-form {
    position: relative;
    border-radius: 9px;
    box-shadow: 10px 10px 10px #000000;
    width: 500px;
    height: 170px;
    background-color: #88ff89;
    margin-top: -80px;
    margin-left: -30px;
    padding: 10px;
    font-size: 18px;
    font-family: tahoma;
}
.bigger {
    font-size: 32px;
    font-family: 'Times New Roman';
}
.shadow {
    text-shadow: 5px 5px 5px red;
}
#form {
    display: block;
    height: 25px;
}
input[name="question"] {
    width: calc(100% - 120px);
    margin-right: 10px;
    height: 22px;
    border: 2px solid #9d969d;
    border-bottom-color: #eeeeee;
    border-right-color: #eeeeee;
}
input[type="submit"] {
    border-radius: 1px;
    background-color: #f4eff3;
    border: 1px solid grey;
    height: 25px;
    font-size: 14px;
}
#ikea-link{
    height: 250px;
    width: 140px;
    display: block;
    position: relative;
    z-index: 999;
    margin-top: -260px;
    margin-left: 330px;
}
#apple-link{
    height: 180px;
    width: 220px;
    display: block;
    position: relative;
    z-index: 999;
    margin-top: -260px;
    margin-left: 780px;
}
