body {
    background-color: #fbf8f8;
    color: rgba(68, 79, 87, 0.8);
    text-align: center;
}
table {width: 100%;}
td {
    border: 1px solid #fbf8f8;
    width: 5%;
    vertical-align: top;
    font-size: 2vw;
}
td:hover {
    color: darkblue;
}
.empty-thin {
    width: 1%;
    border: none;
    font-size: 1.5vw;
}
.empty {border: none;}
.symbol {
    font-weight: bold;
    margin-top: 10%;
    text-align: center;
}
.number, .weight {font-size: 1vw;}
.number {
    text-align: left;
    margin-top: 2%;
}
.weight {text-align: right;}
.light_green {background-color: lightgreen;}
.pink {background-color: #c0ffff;}
.red {background-color: #ff6666;}
.orange {background-color: orange;}
.lanthanide {background-color: #ffbfff;}
.actinide {background-color: #ff99cc;}
.transition_metal {background-color: #ffc0c0;}
.metalloid {background-color: forestgreen;}
.post-transition_metal {background-color: #cccccc;}
.unknown {background-color: #e8e8e8}
img {
    filter: grayscale(80%);
    float: right;
    max-width: 200px;
    width: 20%;
}
img:hover {
    filter: grayscale(0%);
}